version: "3.9"
services:
  mongo:
    image: mongo:5.0
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

  
  entertainment_api:
    build:
      context: ./src
      dockerfile: Dockerfile
    environment:
      MONGO_URI: mongodb://mongo:27017/entertainment_api
      PORT: 5000
    depends_on:
      mongo:
        condition: service_healthy
    command: npm test -- --coverage
