version: "3.8"

services:
  mongo:
    image: mongo:latest
    container_name: mongo
    ports: 
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  entertainment_api:
    container_name: entertainment_api
    build:
      context: .
      dockerfile: src/Dockerfile
    image: ghcr.io/alepes-8/entertainment_api:latest # The image name to be used when pushing to GHCR
    ports:
      - "5000:5000"
    environment:
      - port=${PORT}
      - MONGO_URI=${MONGO_URI}
    depends_on:
      - mongo
      
volumes:
  mongo-data: