name: SonarCloud Analysis

on:
  pull_request:
    branches: [ main ]

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Required for full analysis

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm install
      - run: npm test -- --coverage

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@d08d592c0b694607865c089cba90bbf87c9a6d89
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io
        with:
          args: >
            -Dsonar.projectKey=Alepes-8_Entertainment-Catalog
            -Dsonar.organization=alepes-8
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
